.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-image {
  background-image: url(../../pictures/login-bg.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.black-text-shadow {
  text-shadow: 2px 2px 8px #000;
}

.input-box {
  width: 100%;
}
